{% extends "management/layout.html" %}

{% block content %}
  <p class="text-xl">Management view</p>
  <p class="text-lg">Diff.</p>

  <hr class="my-2" />
  {% for diff_item in diff %}
    <div class="border border-gray-400 mx-0 my-2 px-2 py-1 rounded-md {% if not (diff_item.new or diff_item.deleted or diff_item.changed) %}text-gray-300{% endif %}">
      <h2 class="mt-2 text-lg font-semibold">{{ diff_item.mgmt }}/{{ diff_item.domain }}</h2>
      <h3 class="font-bold">{{ diff_item.command }}</h3>

      {% if diff_item.new %}
        <hr class="border-dotted border-gray-400 mt-1"/>
        <p class="font-semibold">New</p>
        {% for item in diff_item.new %}
          <p>{{ item }}</p>
        {% endfor %}
      {% endif %}

      {% if diff_item.deleted %}
        <hr class="border-dotted border-gray-400 mt-1" />
        <p class="font-semibold">Deleted</p>
        {% for item in diff_item.deleted %}
          <p>{{ item }}</p>
        {% endfor %}
      {% endif %}

      {% if diff_item.changed %}
        <hr class="border-dotted border-gray-400 mt-1" />
        <p class="font-semibold">Changed</p>
        {% for item in diff_item.changed %}
          <p>{{ item }}</p>
        {% endfor %}
      {% endif %}

    </div>
  {% endfor %}

  <hr class="my-2" />

  <div>
    {{ content|safe }}
  </div>
{% endblock content %}
