{% extends "management/layout.html" %}

{% block content %}
  <p class="text-xl">Management view</p>
  <p class="text-lg">Configuration overview.</p>
  <p>List of management servers, domains. </p>
  <p>Refresh button to list statistics:
    number of gateways per domain, policy packages (and gateways within them), hosts, networks, rules (access and NAT) </p>
  <hr class="my-2" />
   <style>
    .cell {
      padding-left: 1rem; /* 16px */
      padding-right: 1rem;
      border-width: 1px;
    }
  </style>

  <table>
    {% for item in mgmt_list %}
    {#<p>{{ item }}</p>#}
      <tr class="text-left bg-slate-100 border">
        <td colspan=7 class="pt-3 pb-1 px-4"><span class="font-semibold">{{ item.fqdn }}</span></td>
      </tr>
      <tr class="border bg-slate-50 py-2 font-thin font-mono">
        <td class="cell">Name</td>
        <td class="cell">IP</td>
        <td class="cell">Version</td>
        <td class="cell">JHF</td>
        <td class="cell">Domains</td>
        <td class="cell">Kind</td>
        <td class="cell">Description</td>
      </tr>
      <tr>
        <td class="cell">{{ item.descr_file.annotation.name }}</td>
        <td class="cell">{{ item.descr_file.annotation.ipv4_address }}</td>
        <td class="cell">{{ item.descr_file.annotation.version }}</td>
        <td class="cell">{{ item.descr_file.annotation.JHF }}</td>
        <td class="cell">{{ item.dmns|join(', ') }}</td>
        <td class="cell">{{ item.descr_file.annotation.kind }}</td>
        <td class="cell">{{ item.descr_file.annotation.description }}</td>
      </tr>
    {% endfor %}
  </table>
  <hr class="my-3" />
  <pre class="text-xs text-gray">
    {{ content }}
  </pre>
{% endblock content %}
