{% extends "base.html" %}

{% block title %}
Management | {{ title }}
{% endblock title %}

{% block sidenav %}
  <ul class="px-2 space-y-4 text-gray-200 mt-4">
    <li><a href="{{ request.app.url_path_for('mgmt_index') }}" class="sidebar_menu_item text-xl">Management</a></li>
    <li><a href="{{ request.app.url_path_for('mgmt_dashboard') }}" class="sidebar_menu_item">Dashboard</a></li>
    <li><hr/></li>
    <li><a href="{{ request.app.url_path_for('mgmt_show_domains') }}" class="sidebar_menu_item">Show domains</a></li>
    <li><a href="{{ request.app.url_path_for('mgmt_diff') }}" class="sidebar_menu_item">Diff</a></li>
    <li><a href="#" class="sidebar_menu_item"> </a></li>
  </ul>
{% endblock sidenav %}


{% block content %}
{% endblock content %}
