/* base.html */
a.top_menu_item {
    font-size: 1.125rem
            /* 18px */
        ;
    line-height: 1.75rem
            /* 28px */
        ;
    font-weight: 600;
    text-underline-offset: 2px;
}

a.top_menu_item:hover {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

/* layout.html */
a.sidebar_menu_item {
    padding-left: 1rem;  /* 16px */
    padding-right: 1rem; /* 16px */
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    border-radius: 0.375rem; /* 6px */
}

a.sidebar_menu_item:active {
    --tw-bg-opacity: 1;
    background-color: rgb(107 114 128 / var(--tw-bg-opacity));
}

a.sidebar_menu_item:hover {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

/* views  */
.ticket_input {
    width: 50%;
    margin-bottom: 1rem; /* 16px */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.0rem;
    padding-bottom: 0.1rem;
    border-width: 1px;
    border-radius: 0.75rem;
}

.error_in_form {
    margin-top: 0.25rem; /* 4px */
    margin-bottom: 0.25rem;
    /* margin-top: 0.75rem; */
    margin-bottom: 0.0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    width: 50%;
    --tw-text-opacity: 1;
    color: rgb(69 10 10 / var(--tw-text-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(254 226 226 / var(--tw-bg-opacity));
    font-size: 0.875rem; /* 14px */
    line-height: 1.25rem; /* 20px */
    border-radius: 0.25rem;

}
