{% extends "gateway/layout.html" %}

{% block content %}

  <p class="text-xl">Gateway view</p>
  <p class="text-lg">Some statistics</p>
  </p>How many gateways, of which versions...</p>
  <hr class="my-2" />

<style>
  .cell {
    padding-left: 1rem; /* 16px */
    padding-right: 1rem;
    border-width: 1px;
  }
</style>
<table>
  {% for mgmt_name, value in gw_list | groupby('mgmt_name') %}
    <tr><td class="py-2"></td></tr>
    <tr class="text-left bg-slate-100 border">
      <td colspan=8 class="pt-3 pb-1 px-4">Mgmt: <span class="font-semibold">
          {{ mgmt_name }}</span></td>
    </tr>
    {% for dmn, gateways in value | groupby('dmn') %}
      {% if not loop.first %}
        <tr class="border"><td class="py-1" colspan=7></td></tr>
      {% endif %}
      <tr class="text-left bg-slate-50 border">
        <td colspan=8 class="pt-1 pb-1 px-4">DMN: {{ dmn }}</td>
      </tr>
      <tr class="border bg-slate-50 py-1 font-thin font-mono">
        <td class="cell">Name</td>
        <td class="cell">FQDN</td>
        <td class="cell">IP</td>
        <td class="cell">Version</td>
        <td class="cell">JHF</td>
        <td class="cell">Kind</td>
        <td class="cell">Description</td>
      </tr>
      {% for item in gateways %}
        <tr id="{{ item.fqdn }}" class="hover:bg-blue-100 hover:cursor-pointer"
            onclick='location.href="{{request.path}}{{mgmt_name}}/{{dmn}}/{{item.descr_file.annotation.name}}";''>
          <td class="cell">{{ item.descr_file.annotation.name }}</td>
          <td class="cell font-thin">{{ item.fqdn }}</td>
          <td class="cell">{{ item.descr_file.annotation.ipv4_address }}</td>
          <td class="cell">{{ item.descr_file.annotation.version }}</td>
          <td class="cell">{{ item.descr_file.annotation.JHF }}</td>
          <td class="cell font-thin">{{ item.descr_file.annotation.kind }}</td>
          <td class="cell font-thin">{{ item.descr_file.annotation.description }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</table>

{#
  <hr class="my-3" />
  <pre class="text-xs text-gray">
{{ content }}
  </pre>
  <hr/>
#}
{% endblock content %}
