{% extends "gateway/layout.html" %}

{% block content %}

  <p class="text-xl">Gateway view</p>
  <p class="text-lg">Some statistics</p>
  </p>How many gateways, of which versions...</p>
  <hr class="my-2" />
  {% regroup content|dictsort:"mdm" by mdm as gw_list %}

  {% comment %}
  <div class="table">
    {% for gw in gw_list %}
    <div class="table-row table-fixed">
      MDM: <span class="font-semibold">{{ gw.grouper }}</span>
    </div>
    {% for gw_value in gw.list|dictsort:"dmn" %}
      {% if forloop.first %}
      <div class="table-row px-4 hover:bg-blue-50 hover:cursor-pointer"
        onclick='location.href="{% url 'app_gateway:index' %}";'>
      <div id="Headers" class="font-mono">
        <div class="cell">DMN</div>
        <div class="cell">GW Name, FQDN</div>
        <div class="cell">IP</div>
        <div class="cell">Version</div>
        <div class="cell">JHF</div>
        <div class="cell">Kind</div>
      </div>
      {% endif %}
      <div class="table-row px-4 hover:bg-blue-50 hover:cursor-pointer"
        onclick='location.href="{% url 'app_gateway:index' %}";'>
        <div class="cell">{{ gw_value.dmn }}</div>
        <div class="cell">{{ gw_value.name }} <span class="font-thin">({{ gw_value.fqdn }})</span></div>
        <div class="cell">{{ gw_value.ipv4_address }}</div>
        <div class="cell">{{ gw_value.version }}</div>
        <div class="cell">{{ gw_value.JHF }}</div>
        <div class="cell">{{ gw_value.kind }}</div>
      </div>
  {% endfor %}

    {% endfor %}
  </div> {% endcomment %}

  <style>
    .cell {
      padding-left: 1rem; /* 16px */
      padding-right: 1rem;
      border-width: 1px;
    }
  </style>

  <table class="border-2 border-collapse rounded-lg w-full">
    {% for gw in gw_list %}
      <tr class="text-left bg-slate-100 border">
        <td colspan="6" class="pt-4 pb-2 px-4">MDM: <span class="font-semibold">{{ gw.grouper }}</span></td>
      </tr>
      <tr class="border bg-slate-50 py-2 font-thin font-mono">
        <td class="cell">DMN</td>
        <td class="cell">GW name</td>
        <td class="cell">IP</td>
        <td class="cell">Version</td>
        <td class="cell">JHF</td>
        <td class="cell">Kind</td>
      </tr>
      {% for gw_value in gw.list|dictsort:"dmn" %}
      <tr id="{{ gw_value.fqdn }}" class="hover:bg-blue-100 hover:cursor-pointer"
         onclick='location.href="{% url 'app_gateway:gateway_by_fqdn' gw_value.fqdn %}";'>
        <td class="cell">{{ gw_value.dmn }}</td>
        <td class="cell">{{ gw_value.name }} <span class="font-thin">({{ gw_value.fqdn }})</span></td>
        <td class="cell">{{ gw_value.ipv4_address }}</td>
        <td class="cell">{{ gw_value.version }}</td>
        <td class="cell">{{ gw_value.JHF }}</td>
        <td class="cell">{{ gw_value.kind }}</td>
      </tr>
      {% endfor %}
    {% endfor %}
  </table>
  </hr>
  <h2>-==-</h2>

{% endblock content %}
