<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body onload="onLoadFunc()">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', path='img/favicon.png') }}" >
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}" >
    <script>
      var intervalId = null;

      function onLoadFunc() {
        const urlParams = new URLSearchParams(window.location.search);
        const paramName = 'get_status';

        if (urlParams.has(paramName)) {
          console.log(`The parameter "${paramName}" exists in the query string.`);
          messagesUpdate(1000);
        } //else {
          //console.log(`The parameter "${paramName}" doesn't exist in the query string.`);
        //}
      }

      function getStatusUpdates() {
        const baseUrl = window.location.pathname;
        const firstSubPath = `${baseUrl.split('/')[1]}`;
        fetch(`/${firstSubPath}/get_status?action=test`)
          .then(response => response.json())
          .then(data => {
            const statusDiv = document.getElementById('status');
            if (data.message.length === 0) {
              console.log(`Empty message, clearing interval. ${baseUrl}`)
              statusDiv.innerHTML = ""; // Clear previous status
              statusDiv.style.visibility = "hidden";
              clearInterval(intervalId);
              window.location.href = baseUrl;
            } else {
              const formattedData = data.message // .replace(/^"(.*)"$/, '$1');
              console.log(formattedData)
              statusDiv.innerHTML = formattedData; // Clear previous status
              statusDiv.style.visibility = "visible";
            }
          });
      };

      function messagesUpdate(updateInterval) {
        intervalId = setInterval(getStatusUpdates, updateInterval);
      };

      function btn_click(extraQuery) {
        const baseUrl = window.location.pathname; // Get the base URL
        // const pathValue = element.value;
        if ( extraQuery ) {
          window.location.href = `${baseUrl}${extraQuery}`;
        }
      };
    </script>
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav class="py-2 px-2 flex justify-between items-center border-b border-gray-200">
      <a href="/" class="text-xl font-semibold text-pink-500">cpGitOps</a>

      <div class="space-x-6">
        <a href="/ticket" class="top_menu_item text-gray-400">Ticket</a>
        <a href="/management" class="top_menu_item">Management</a>
        <a href="/gateway" class="top_menu_item">Gateway</a>
        <a href="/" class="top_menu_item">GAIA</a>
      </div>
    </nav>

    {#
    <div id="status" class="border-b border-gray-500 py-1 px-2 bg-slate-50">
      <p id="message">Hey</p>
    </div>
    #}

    <div class="grid grid-cols-6">
      <div id="sidenav" class="bg-gray-700 h-full col-span-1">
        {% block sidenav %}{% endblock sidenav %}
      </div>
      <div class="px-6 py-3 col-span-5">
        <div id="status" class="mb-2 px-2 py-2 border bg-indigo-50"
          style="margin-top: -0.75rem; margin-left: -1.5rem; margin-right: -1.5rem; visibility: hidden;"></div>
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <footer class="py-2 px-2 flex justify-between bg-gray-800">
      <div class="w-2/3 pr-10">
        <h3 class="mb-5 font-semibold text-gray-300">About</h3>

        <p class="text-base text-gray-400">
          {{ lipsum(1, html=False) }}
        </p>
      </div>

      <div class="w-1/3">
        <h3 class="mb-5 font-semibold text-gray-300">Menu</h3>

        <ul class="space-y-2">
          <li><a href="#" class="text-lg text-teal-500 hover:text-teal-400">About</a></li>
          <li><a href="#" class="text-lg text-teal-500 hover:text-teal-400">Term of use</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
